@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
	--primary: #a3b18a;
	--accent: #d9cab3;
	--dark: #333333;
	--dark-light: #9f9f9f;
	--dark-light-1: #d7d7d7;
	--light: #f5f5f5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.primary-btn {
	background-color: var(--primary);
	color: var(--light);
	padding: 0.5rem 3rem;
	border: 2px solid var(--primary);
	border-radius: 5px;
	cursor: pointer;

	font-family: "Open Sans", sans-serif;

	&.outline,
	&:hover {
		background-color: transparent;
		color: var(--primary);
	}

	&.outline:hover {
		background-color: var(--primary);
		color: var(--light);
	}
}

.dark-btn {
	background-color: var(--dark-light);
	color: var(--light);
	padding: 0.5rem 3rem;
	border: 2px solid var(--dark-light);
	border-radius: 5px;
	cursor: pointer;

	font-family: "Open Sans", sans-serif;

	&.outline,
	&:hover {
		background-color: transparent;
		color: var(--dark-light);
	}

	&.outline:hover {
		background-color: var(--dark-light);
		color: var(--light);
	}
}

.accent-btn {
	background-color: var(--accent);
	color: var(--light);
	padding: 0.5rem 3rem;
	border: 2px solid var(--accent);
	border-radius: 5px;
	cursor: pointer;

	font-family: "Open Sans", sans-serif;

	&.outline,
	&:hover {
		background-color: transparent;
		color: var(--accent);
	}

	&.outline:hover {
		background-color: var(--accent);
		color: var(--light);
	}
}

.body-text {
	font-family: "Open Sans", sans-serif;
	font-size: 0.9rem;
	color: #333333;
}

.float-btn {
	height: 2.5rem;
	width: 2.5rem;

	/* padding: 1rem; */
	display: grid;
	place-items: center;

	background-color: var(--primary);
	border: 2px solid var(--primary);
	color: var(--light);
	border-radius: 50%;
	cursor: pointer;
}

.primary-input {
	padding: 0.8rem 0.8rem;
	border: 2px solid var(--primary);
	border-radius: 0.5rem;
	font-size: 0.9rem;
}

.primary-input-form {
	padding: 0.2rem 0.5rem;
	border: 2px solid var(--primary);
	border-radius: 0.5rem;
	font-size: 0.8rem;
}
